<div class="wrapper">
  <div class="allTodo">
    <div class="user-wrapper">
      <div class="user-inputs">
        <div class="title">
          <h1>{{title}}</h1>
          <p>{{total}} <span>{{todos.length}}</span></p>
        </div>
        <div>
          <label for="see-todo"><i class="fas fa-plus"></i></label>
          <label for="see-items"><i class="fas fa-sort-down"></i></label>
        </div>
      </div>
    </div>
    <input type="checkbox" id="see-todo">
    <ul class="addTodo">
      <li class="clearfix">

        <div class="add-one">
          <label for="title">Todo Title: </label>
          <input id="title" type="text" placeholder="Finish Assignment" #newTodo/>
        </div>
        
        <div class="add-one">
          <label for="desc">Todo Description: </label>
          <input id="desc" type="text" placeholder="Angular Todo List" #newDesc />
        </div>        
        <div class="add-one">
          <label for="details">Todo Details: </label>
          <input id="details" type="text" placeholder="Styles left to do" #newDetails/>
        </div>
        
      </li>
      <button class="add-entry"
      (click)="addTodo(newTodo.value, newDesc.value, newDetails.value); 
      newTodo.value=''; newDesc.value=''; newDetails.value=''
      ">Add Todo Item</button>
    </ul>
  </div>
  <input type="checkbox" id="see-items">
  <div class="user-todo">
    <ul>
      <div class="entry-wrapper">
        <li class="todo-entry" *ngFor="let todo of todos">
          <div class="entries">
            <p><strong>{{todo.title}}</strong></p>
            <p>{{todo.desc}}</p>
            <p>{{todo.details}}</p>
            <p><i class="fas fa-calendar-alt"></i> {{todo.date}}</p>

          </div>
          <button (click)="deleteTodo(todo)"><i class="fas fa-trash"></i></button>
        </li>
      </div>
    </ul>
  </div>
</div>


