<div class="wrapper">
  <div class="allTodo">
    <h1>{{title}}</h1>
    <p>{{total}} <span>{{todos.length}}</span></p>
    <label for="see-todo">
      <i class="fas fa-sort-down"></i>
      <i class="fas fa-plus"></i>
    </label>
    <input type="checkbox" id="see-todo">
    <ul class="addTodo">
      <li>
        <label for="title">Todo Title</label>
        <input id="title" type="text" placeholder="Finish Assignment" #newTodo/>
        
        <label for="desc">Todo description</label>
        <input id="desc" type="text" placeholder="Angular Todo List" #newDesc />
        
        <label for="details">Todo Details</label>
        <input id="details" type="text" placeholder="Styles left to do" #newDetails/>
      </li>
      <button
      (click)="addTodo(newTodo.value, newDesc.value, newDetails.value); 
      newTodo.value=''; newDesc.value=''; newDetails.value=''
      ">Add Todo Item</button>
    </ul>
  </div>
  <div>
    <ul>
      <li *ngFor="let todo of todos">
        <p>{{todo.title}}</p>
        <p>{{todo.desc}}</p>
        <p>{{todo.details}}</p>
        <div ng-app ng-controller="Ctrl">
          {{date | date:'yyyy-MM-dd'}}
        </div>
        <button (click)="deleteTodo(todo)"><i class="fas fa-trash"></i></button>
      </li>
    </ul>
  </div>
  <div>
    <p>Load More</p>
  </div>
</div>


