<h1>{{title}}</h1>
<!-- <p>{{total}}</p> -->

<!-- <form #newTodo>
  <input type="text" #newTodo placeholder="To do title">
  <input type="text" placeholder="To do description">
  <input type="submit" value="Add to do" (click)="addTodo(newTodo.value)">
</form> -->
<input type="text" #newTodo />
<button
  (click)="addTodo(newTodo.value); 
  newTodo.value=''
">Add Todo Item</button>
<div>
  <ul>
    <li *ngFor="let todo of todos">
      <p>{{todo.label}}</p>
      <p>{{todo.priority}}</p>
      <p>{{todo.done}}</p>
      <p><button (click)="deleteTodo(todo)">Delete</button></p>
    </li>
  </ul>
</div>